<center>
<div class="box_div_main_page">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="cookies"></p>
<h1> Mike's ISBN Number Checking App </h1>
<form method = "post" action = "isbn_number_main_page">
<hr>
<h3> Please enter the ISBN number that you want to check in the box below. </h3>
<br><br>
<center>
<input type="text" id="isbn" name = "isbn" placeholder="Insert ISBN" required>
</center>
<br>
<h3> The validity of the ISBN number is posted below. </h3>
<br><br>
<div class="verify">
	<%= isbn_output %><hr>
    <%= validity_final %><hr>
    <%= isbn_orig %><hr>
</div>
<br><br>
<input class = "button" type = "submit" value = "Verify ISBN" onclick>
</form>
</body>
</div>
</center>