<center>
<div class="box_div_validation_page">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="cookies"></p>
<h1> Mike's ISBN Number Checking App </h1>
<form method = "post" action = "isbn_number_validation_page">
<hr>
<h3> Thanks! Your ISBN number is <%=isbn_valid%>. </h3>
<br><br>
<br><br>
<input class = "button" type = "submit" value = "Verify ISBN" onclick>
</form>
</body>
</div>
</center>